.center{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}

.card{
    box-shadow: 1px 1px 4px grey !important;
    
}

.card:hover{
    box-shadow: 1px 1px 12px grey !important;
}